# For production deployment
# Bubble_io Data
EMAIL=
PASS=""

# Slack Configration
SLACK_MESSAGING="YES"
REQUESTS_SLACK_CHANNEL_NAME=""
RESPONSE_SLACK_CHANNEL_NAME=""
MAIN_SLACK_CHANNEL_NAME=""
SLACK_APP_SECRET=""

# Google Sheets Configration
SPREADSHEET_ID=""
REQ_SHEET_NAME=""
BID_SHEET_NAME=""
LEADS_SHEET_NAME=""
SERVICE_ACCOUNT_CREDENTIALS=''