# Bubble_io Data
EMAIL=""
PASS=""

# Slack
REQUESTS_SLACK_CHANNEL_NAME=""
RESPONSE_SLACK_CHANNEL_NAME=""
MAIN_SLACK_CHANNEL_NAME=""
SLACK_APP_SECRET=""

# Google Sheets
TRACKING_SHEET_NAME=""
SPREADSHEET_ID=""
SERVICE_ACCOUNT_CREDENTIALS=''